.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.3s linear;
}

.modal {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  border: 1px solid #999;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 75vw;
  max-height: 90vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .modal {
    width: 90vw;
  }
}

.appearModal {
  animation: appearModal 0.4s ease-in;
}

@keyframes appearModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
